# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask instance folder
instance/

# Env files
.env
*.env

# Docker
*.log

# Mac OS
.DS_Store

# VSCode
.vscode/

# PyCharm
.idea/

# Node (if any JS later)
node_modules/

# Compiled HTML
*.html.tmp
